<a href="https://colab.research.google.com/github/sunandasuchi/Sorting/blob/main/Selection_Sort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Selection Sort**

#### In Selection sort, we find out the lowest item and swap with the 1st index.

#### Then search for the smallest item from the 2nd index and after finding it swaps with the 2nd index.....



#### Time Complexity: O(n^2), as we need to use 2 nested loops.

#### Space COmplexity: O(1), as we are not adding anything new

In [46]:
def selectionSort(arr):
  for i in range(0, len(arr)):
    print("i before second loop:", i)
    min = arr[i]
    for j in range(i+1, len(arr)):
      if arr[j] < min:
        min = arr[j]
        ind = j
    print("i :", i)
    print("min: ", min)
    arr[i], arr[ind] = arr[ind], arr[i]
    print("arr", arr)
    print()
  return arr

In [50]:
arr = [99, 44, 6, 2, 1, 5, 63, 87, 283, 4, 0]
print("Sorted Array: ",selectionSort(arr))

i before second loop: 0
i : 0
min:  0
arr [0, 44, 6, 2, 1, 5, 63, 87, 283, 4, 99]

i before second loop: 1
i : 1
min:  1
arr [0, 1, 6, 2, 44, 5, 63, 87, 283, 4, 99]

i before second loop: 2
i : 2
min:  2
arr [0, 1, 2, 6, 44, 5, 63, 87, 283, 4, 99]

i before second loop: 3
i : 3
min:  4
arr [0, 1, 2, 4, 44, 5, 63, 87, 283, 6, 99]

i before second loop: 4
i : 4
min:  5
arr [0, 1, 2, 4, 5, 44, 63, 87, 283, 6, 99]

i before second loop: 5
i : 5
min:  6
arr [0, 1, 2, 4, 5, 6, 63, 87, 283, 44, 99]

i before second loop: 6
i : 6
min:  44
arr [0, 1, 2, 4, 5, 6, 44, 87, 283, 63, 99]

i before second loop: 7
i : 7
min:  63
arr [0, 1, 2, 4, 5, 6, 44, 63, 283, 87, 99]

i before second loop: 8
i : 8
min:  87
arr [0, 1, 2, 4, 5, 6, 44, 63, 87, 283, 99]

i before second loop: 9
i : 9
min:  99
arr [0, 1, 2, 4, 5, 6, 44, 63, 87, 99, 283]

i before second loop: 10
i : 10
min:  283
arr [0, 1, 2, 4, 5, 6, 44, 63, 87, 99, 283]

Sorted Array:  [0, 1, 2, 4, 5, 6, 44, 63, 87, 99, 283]